.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}
.container {
  max-height: 85vh;
}

@media only screen and (max-width: 600px) {
  .app {
    padding: 0;
  }
  .paper {
    width: 95vw;
  }
}
